@font-face {
	font-family: "Happy Little Dinosaur Font"; 
	src: url('fonts/HappyLittleDinosaurs-regular.otf');
}

html {
	background-color: #24141f;
}

body {
	font-family: "Happy Little Dinosaur Font", sans-serif;
	font-size: xx-large;
}

.hidden {
	display: none;
}

.background_wide {
	min-width: 1400px;

	width: 100%;
	height: auto;

	position: fixed;
		top: 0;
		left: 0;
}

.background_tall {
	min-height: 800;

	width: 100%;
	height: auto;

	position: fixed;
		top: 0;
		left: 0;
}
