@font-face {
	font-family: "Happy Little Dinosaur Font"; 
	src: url('fonts/HappyLittleDinosaurs-regular.otf');
}

/*
 *Root class to store some helpful variables
 */
:root {
	 --title_right_margin: 16px;
}

html {
	background-color: #24141f;
}

.hidden {
	display: none;
}

.title_text {
	font-family: "Happy Little Dinosaur Font", sans-serif;
	font-size: 55px;
	color: white;
}

.tt_1_wide {
 	position: absolute;
	top: 40px;
	right: var(--title_right_margin);
}

.tt_2_wide {
	position: absolute;
	top: 100px;
	right: var(--title_right_margin);
	font-size: 60px;
}

.tt_1_tall {
	position: absolute;
	top: 80px;
	left: 100px;
}

.tt_2_tall {
	position: absolute;
	top: 140px;
	left: 100px;
}

.background_wide {
	min-width: 900px;

	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	left: 0;
}

.background_tall {
	min-height: 800;

	width: 100%;
	height: auto;

	position: fixed;
	top: 0;
	left: 0;
}
