@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Rubik+Bubbles&display=swap');

@font-face {
	font-family: "Happy Little Dinosaurs Font"; 
	src: url("fonts/HappyLittleDinosaurs-Regular.otf");
}

/*
 *Root class to store some helpful variables
 */
:root {
	 --title_right_margin: 16px;
	 --nav_bar_height: 64px;
	 --dark_background_color: #271521;
	 --old-mauve: #4D2636ff;
	 --persian-plum: #7B2E2Dff;
	 --white: #FEFEFD;
	 --title_font: 'Rubik Bubbles', cursive;
	 --body_font: 'Boogaloo', cursive;
}

html {
	background-color: var(--dark_background_color);
}
	/*
	 *TODO: change fonts - they DO NOT WORK. Can use a custom one for the title and a SERIF one for the body
	 */

.hidden {
	display: none;
}

.content {
	position: absolute;
	top: var(--nav_bar_height);
}	

/*
 * Styling for the rules page
 */
.rules {
	color: white;
	font-family: var(--body_font);
	font-size: 25px;
}

h1 {
	font-size: 60px;
	font-family: var(--title_font);
}

h2 {
	font-size: 45px;
	font-family: var(--title_font);
}

/*
 * Styling for the navigation bar
 */
nav {
	/* Appearance */
	width: 100vw;
	background-color: var(--old-mauve);
	color: var(--white);
	font-family: var(--title_font);

	/* Position */
	height: var(--nav_bar_height);
	position: absolute;
	top: 0;
	left: 0;
}

.nav_content_overall {
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
}

.nav_content {
	list-style-type: none;
	text-align: center;
	width: 20vw;
	font-size: 30px;
}

.nav_link {
	text-decoration: none;
	color: var(--white);
}

.nav_content:hover {
	background-color: var(--persian-plum);
}

.nav_logo {
	font-family: "Happy Little Dinosaurs Font", sans-serif;
}

/*
 * Styling for the main page
 */

.title_text {
	font-family: "Happy Little Dinosaurs Font", sans-serif;
	font-size: 55px;
	color: var(--white);
}

.tt_1_wide {
 	position: absolute;
	top: 40px;
	right: var(--title_right_margin);
}

.tt_2_wide {
	position: absolute;
	top: 100px;
	right: var(--title_right_margin);
	font-size: 60px;
}

.tt_1_tall {
	position: absolute;
	top: 80px;
	left: 100px;
}

.tt_2_tall {
	position: absolute;
	top: 140px;
	left: 100px;
}

.background_wide {
	min-width: 900px;

	width: 100%;
	height: auto;

	position: fixed;
	top: var(--nav_bar_height);
	left: 0;
}

.background_tall {
	min-height: 800;

	width: 100%;
	height: auto;

	position: fixed;
	top: var(--nav_bar_height);
	left: 0;
}
